// Start three photos with timing
.menuStarter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: $Dark;
  padding: 40px 0;
  .eachBox {
    width: 25%;
    position: relative;
    overflow: hidden;

    .imgBox {
      display: flex;
      justify-content: space-around;
      position: relative;
      max-height: 400px;

      img {
        overflow: hidden;
        object-fit: cover;
        opacity: 0.8;
        z-index: 2;
      }
      .starterBg {
        overflow: hidden;
        position: absolute;
        background-color: black;
        height: 100%;
        width: 100%;
        max-width: 400px;
      }
    }
    .textBox {
      width: 100%;
      position: absolute;
      bottom: 5px;
      text-align: center;
      z-index: 3;
      color: $Light;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;

      h3 {
        font-size: 22px;
        padding-bottom: 10px;
      }
      h4 {
        font-size: 18px;
        padding-bottom: 10px;
      }
      h5 {
        font-size: 15p;
      }
    }
  }
}
// END three photos with timing









// <!-- START Menu starter  -->
//   <div class="myContainer">
//     <div class="menuStarter">
//         <div class="eachBox">
//             <div class="imgBox"> <img src="img/side1.jpg" alt=""><div class="starterBg"></div></div>
//             <div class="textBox">
//                 <h3>Lunch Menu</h3>
//                 <h4> Mon-Fri</h4>
//                 <h5>12:00 - 14:00</h5>
//             </div>
//         </div>
//         <div class="eachBox">
//             <div class="imgBox"><img src="img/side2.jpg" alt=""><div class="starterBg"></div></div>
//             <div class="textBox">
//                 <h3>Lunch Menu</h3>
//                 <h4> Saturday</h4>
//                 <h5>12:00 - 14:00</h5>
//             </div>
//         </div>
//         <div class="eachBox">
//             <div class="imgBox"><img src="img/side3.jpg" alt=""><div class="starterBg"></div></div>
//             <div class="textBox">
//                 <h3>Lunch Menu</h3>
//                 <h4> Sunday</h4>
//                 <h5>12:00 - 14:00</h5>
//             </div>
//         </div>
//     </div>
//   </div>