//START MAP
.map {
  padding: 30px 0 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;

  .mapWrapper {
    width: 95%;
    display: flex;

    .mapText {
      width: 35%;
      display: flex;
      justify-content: space-around;
      flex-flow: column;

      .text {
        margin: 0 auto;
        h4 {
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 15px;
          color: $Dark;
          text-align: center;
        }
        p {
          font-weight: lighter;
          padding: 5px 0;
          color: $Dark;
        }
      }
    }
    .mapDiv {
      width: 65%;
      height: 600px;
    }
  }
}

//END MAP

@media (max-width: 630px) {
  .map {
    padding: 0;

    .mapWrapper {
      flex-flow: column;
      width: 100%;
      .mapText {
        display: none;
      }
      .mapDiv {
        width: 100%;
        padding: 20px;
      }
    }
  }
}







// <!-- START MAP -->
//   <div class="map">
//     <div class="mapWrapper">
//       <div class="mapText">
//         <div class="text location">
//           <h4>Location</h4>
//           <p> Praça do Município n23, </p>
//           <p>Lisboa, Portugal</p>
//         </div>
//         <div class="text hours">
//           <h4>Working Hourss</h4>
//           <p>MON – <span> Fri: 7.00am – 6.00pm </span> </p>   
//           <p>SAT – <span> Fri: 7.00am – 6.00pm </span> </p>   
//           <p>SUN – <span> Fri: 8.00am – 6.00pm </span> </p>   

//         </div>
//         <div class="text contact">
//           <h4>Contact</h4>
//           <p>info@ChaCha.com</p>
//           <p>0707174030</p>
//         </div>
//       </div>
//       <div class="mapDiv">
//         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6226.828782664931!2d-9.1496643!3d38.708294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd193479567ac66d%3A0x3eef4fe30fcc5385!2sDelfina-Cantina%20Portuguesa!5e0!3m2!1sen!2sse!4v1679656053134!5m2!1sen!2sse" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
//       </div>
//     </div>
//   </div>
// <!-- END MAP -->