// START KITCHEN
.kitchenWrapper {
  padding: 0 0 40px 0;
  font-family: "Raleway", sans-serif;

  .imgWrapper {
    margin-bottom: 40px;
    position: relative;
    .overlayImg {
      position: absolute;
      transition: 200ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      height: 100%;
      width: 100%;
    }
    .kitchenImg {
      position: relative;
      img {
        width: 100%;
      }
      h5 {
        color: invert($color: #000000);
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }
  .kitchenTextWrapper {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    .textBoxes {
      width: 30%;
      h3 {
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 20px;
      }
      h4 {
        font-size: 20px;
        padding-bottom: 10px;
      }
    }
  }
}
// END KITCHEN

@media (max-width: 1000px) {
  .kitchenWrapper {
    padding-bottom: 100px;
    .imgWrapper {
      margin-bottom: 0;
      .kitchenImg {
        h5 {
          font-size: 25px;
          min-width: 169px;
        }
      }
    }
    .kitchenTextWrapper {
      flex-flow: wrap;
      text-align: center;
      .textBoxes {
        .textBoxes {
          width: 100%;
          text-align: center;
          h3 {
            padding-top: 50px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}







// <!-- START KITCHEN -->
//   <section class="myContainer">
//     <div class="kitchenWrapper">
//       <div class="imgWrapper">
//         <div class="kitchenImg"><img src="img/kitchen.jpg" alt=""><h5>THE KITCHEN</h5></div>
//         <div class="overlayImg"></div>
//       </div>

//       <div class="kitchenTextWrapper">
//         <div class="textBoxes">
//           <h3 class="chefName">Levani Levanidze</h3>
//           <h4 class="chefTitle">Excutive Chef</h4>
//           <h5 class="cheftext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium eaque sunt iusto incidunt. Assumenda, sed voluptates amet ratione praesentium facilis suscipit sint, hic, ipsa eligendi odio Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo illo fugiat, molestias debitis optio, corporis doloribus fugit voluptatibus, enim cumque tempore reprehenderit? Dignissimos corrupti ipsa saepe harum officiis amet. repellat! Vero, distinctio!</h5>
//         </div>
//         <div class="textBoxes">
//           <h3 class="chefName">Levani Levanidze</h3>
//           <h4 class="chefTitle">Kitchen Chef</h4>
//           <h5 class="cheftext"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque dicta, quia perspiciatis recusandae sit praesentium dolore dolores, totam eos ea, saepe molestiae veniam libero quasi nobis? Dolores, placeat qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium eaque sunt iusto incidunt. Assumenda, sed voluptates amet ratione praesentium facilis suscipit sint, hic, ipsa eligendi odio repellat! Vero, distinctio!</h5>
//         </div>
//         <div class="textBoxes">
//           <h3 class="chefName">Levani Levanidze</h3>
//           <h4 class="chefTitle">Pastry Chef</h4>
//           <p class="cheftext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusantium eaque sunt iusto incidunt. Assumenda, sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nemo enim, ipsam excepturi dignissimos animi, quae eos soluta nobis, hic vero libero placeat! Mollitia illum saepe, maiores cumque reiciendis aut. voluptates amet ratione praesentium facilis suscipit sint, hic, ipsa eligendi odio repellat! Vero, distinctio!</p>
//         </div>
//       </div>
      
//     </div>
//   </section>
// <!-- END KITCHEN -->