// START ACCORDION
.accordionWrapper {
  font-family: "BenchNine", sans-serif;
  p {
    text-transform: uppercase;
  }

  .accordionHead {
    background: $Dark;
    color: $Light;
    padding: 18px 18px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 40px;
    transition: 0.4s;
    font-weight: bold;
    border-bottom: 2px solid hwb(0 40% 60%);
    border-top: 2px solid hwb(0 40% 60%);
  }
  .accordionBottom {
    background: $Dark;
    color: $Light;
    padding: 25px 18px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 40px;
    transition: 0.4s;
    font-weight: bold;
    border-bottom: 2px solid hwb(0 40% 60%);
  }

  .accordion {
    background-color: $Dark;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    p {
      color: $Light;
      font-size: 20px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h4 {
      display: flex;
      margin: 0 auto;
      height: 0px;
      max-width: 150px;
      color: $Dark;
      font-size: 15px;
      text-align: center;
      color: $Light;
    }
  }

  .active,
  .accordion:hover {
    background-color: $DarkLight;
  }

  .accordion:after {
    content: "\002B";
    color: $Light;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    font-size: 35px;
    position: absolute;
    top: -3px;
    right: 0%;
  }

  .active:after {
    content: "\2212";
  }
  .panel {
    border-top: 2px solid hwb(0deg 40.7% 59.3%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    font-family: "Nunito", sans-serif;
    .accordion-body {
      padding: 25px 10px;
      justify-content: space-evenly;
      flex-wrap: wrap;
      display: flex;
      background-color: $DarkLight;
      transition: 1s;

      .product-box {
        height: 350px;
        border: 1px solid $Dark;
        border-radius: 10px;
        color: $Light;
        background-color: $DarkLight;
        position: relative;
        margin: 20px auto;

        .imgWrap {
          height: 200px;
          width: 280px;
          overflow: hidden;
          position: relative;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          img {
            max-width: 200px;
            max-width: 280px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            overflow: hidden;
          }
        }
        h4 {
          width: 250px;
          text-align: center;
          margin: 0 auto;
          font-size: 20px;
          font-weight: bold;
          margin-top: 15px;
          width: 90%;
        }
        h6 {
          max-width: 250px;
          text-align: center;
          margin: 0 auto;
          margin-top: 10px;
          width: 90%;
          font-weight: 100;
          line-height: 23px;
        }
      }
      .priceCart {
        border-radius: 10px;
        width: 70%;
        height: 44px;
        position: absolute;
        z-index: 1;
        bottom: -22px;
        left: 50%;
        transform: translate(-50%);
        font-size: calc(12px + 0.3vw);
        overflow: hidden;
        // align-items: stretch;
        display: flex;
        border: 2px solid $DarkLight;
        .price {
          width: 50%;
          height: 100%;
          background-color: $Solid;
          position: relative;
          span {
            font-size: 25px;
            position: absolute;
            left: 25px;
            top: 6px;
          }
        }
        .cart {
          width: 50%;
          height: 100%;
          background-color: #770e0e;
          cursor: pointer;
          img {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 125px;
            top: 6px;
            color: white;
          }
        }
      }
    }
  }
}
// END ACCORDION








// <!-- START accordion -->
//   <div class="myContainer">
//     <div class="accordionWrapper">
//         <h4 class="accordionHead">M E N U</h4>
//         <!-- <div class="accordion"><p>Main Dishes</p></div>
//         <div class="panel">
//           <div class="accordion-body">

//               <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/burgeri.webp" alt=""> </div> <h4>Burger</h4> <h6></h6>  <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/evropuli yvelis asorti.webp" alt=""> </div> <h4>European cheese assortiment</h4> <h6></h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/gamomcvari kartofili.webp" alt=""> </div> <h4>Baked Potatoes</h4> <h6></h6>  <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/kartofili fri.webp" alt=""> </div> <h4>French fries</h4> <h6> </h6>  <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/oragulis rolebi.webp" alt=""> </div> <h4>Salmon Rolls</h4> <h6></h6>  <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/sendvichi lorit.webp" alt=""> </div> <h4>Sandvich with Ham</h4> <h6></h6>  <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/shemwvari yvelis chxirebi.webp" alt=""> </div> <h4>Fried cheese sticks</h4> <h6></h6>  <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//               <div class="product-box">  <div class="imgWrap"><img src="/img/Menu/Quick Menu/yvelis asorti.webp" alt=""> </div> <h4>Traditional cheese asortment</h4> <h6> </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="/img/chart.svg" alt=""> </div></div></div>
//           </div> 
//         </div> -->

//         <div class="accordion"><p>We Reccomend</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>

//         <div class="accordion"><p>Popular Orders</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>
        

//         <div class="accordion"><p>10 Minutes </p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>

        
//         <div class="accordion"><p>Salad</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>

//         <div class="accordion"><p>Vegetarian</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>

//         <div class="accordion"><p>Vegan</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>

//         <div class="accordion"><p>Hot Drinks</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>

//         <div class="accordion"><p>Alcohol Drinks</p></div>
//         <div class="panel">
//           <div class="accordion-body"> 
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//             <div class="product-box">  <div class="imgWrap"><img src="https://github.com/levanydze/RR/blob/main/img/Menu/MainDishes/khinkali.jpg?raw=true" alt=""></div> <h4>Khinkali</h4><h6>Jucy meat covered by dough and boild in water. The best dumpling in the world    </h6> <div class="priceCart"><div class="price"> <span>25 £</span></div><div class="cart"> <img src="https://github.com/levanydze/RR/blob/main/img/chart.png?raw=true" alt=""> </div></div></div>
//           </div> 
//         </div>
//         <h4 class="accordionBottom"></h4>
//     </div>
//   </div>
// <!-- END accordion -->