// START SIDEbySIDE
.sideWrapper {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 100;

  .sidePhoto {
    width: 100%;
    display: flex;
    img {
      width: 80%;
      max-height: 700px;
      object-fit: cover;
    }
  }
  .sideText {
    margin: 0px auto;
    display: flex;
    width: 90%;

    .sideTextBox {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      width: 80%;
      text-align: center;
      margin: 0 auto;

      h4 {
        font-size: 30px;
        font-weight: 500;
      }
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
.sideWrapper:nth-child(even) {
  flex-flow: row-reverse;
  .sidePhoto {
    display: flex;
    justify-content: end;
  }
}
//END SIDEbySIDE

@media (max-width: 1000px) {
    .sideWrapper {
        .sideText {
          .sideTextBox {
            h4 {
              font-size: 20px;
              padding-bottom: 20px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }
}


@media (max-width: 630px) {
    .sideWrapper {
        border: 2px solid $DarkLight;
        flex-flow: column-reverse;
        margin: 40px auto;
        padding: 40px 40px;
        .sidePhoto {
          padding-top: 40px;
          img {
            margin: 0 auto;
            width: 100%;
          }
        }
        .sideText {
          width: 100%;
          .sideTextBox {
            width: 100%;
            h4 {
            }
          }
        }
      }
      .sideWrapper:nth-child(even) {
        flex-flow: column-reverse;
      }
}







// <!-- START SIDE PHOTO/TEXT -->
//   <section class="myContainer">
//     <div class="sideWrapper">
//       <div class="sidePhoto">
//         <img src="img/side1.jpg" alt="">
//       </div>
//       <div class="sideText">
//        <div class="sideTextBox">
//         <div class="spacer"></div>
//         <h4 class="sideH"> Somthing that you will never forget</h4>
//         <p class="sideP">No specials, no shortcuts, no excuses.When chef Sandra Vega Jega took a two-week trip to Japan, she had never had ramen before. Upon returning to the States, she dedicated herself to learning how to make the perfect bowl. The rest is history. No specials, no shortcuts, no excuses.When chef Sandra Vega Jega took a two-week trip to Japan, she had never had ramen before. Upon returning to the States, she dedicated herself to learning how to make the perfect bowl. The rest is history.</p>
//         <div class="pspacer"></div>
//        </div>
//       </div>
//     </div>

//     <div class="sideWrapper">
//       <div class="sidePhoto">
//         <img src="img/side2.jpg" alt="">
//       </div>
//       <div class="sideText">
//        <div class="sideTextBox">
//         <div class="spacer"></div>
//         <h4 class="sideH"> Somthing that you will never forget</h4>
//         <p class="sideP">No specials, no shortcuts, no excuses.When chef Sandra Vega Jega took a two-week trip to Japan, she had never had ramen before. Upon returning to the States, she dedicated herself to learning how to make the perfect bowl. The rest is history. No specials, no shortcuts, no excuses.When chef Sandra Vega Jega took a two-week trip to Japan, she had never had ramen before. Upon returning to the States, she dedicated herself to learning how to make the perfect bowl. The rest is history.</p>
//         <div class="pspacer"></div>
//        </div>
//       </div>
//     </div>

//     <div class="sideWrapper">
//       <div class="sidePhoto">
//         <img src="img/side3.jpg" alt="">
//       </div>
//       <div class="sideText">
//        <div class="sideTextBox">
//         <div class="spacer"></div>
//         <h4 class="sideH"> Somthing that you will never forget</h4>
//         <p class="sideP">No specials, no shortcuts, no excuses.When chef Sandra Vega Jega took a two-week trip to Japan, she had never had ramen before. Upon returning to the States, she dedicated herself to learning how to make the perfect bowl. The rest is history. No specials, no shortcuts, no excuses.When chef Sandra Vega Jega took a two-week trip to Japan, she had never had ramen before. Upon returning to the States, she dedicated herself to learning how to make the perfect bowl. The rest is history.</p>
//         <div class="pspacer"></div>
//        </div>
//       </div>
//     </div>
//   </section>
// <!-- END SIDE PHOTO/TEXT -->